@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Лабораторная 12</h1>
    <p>Cловами Alpine Ski House — высококлассный горнолыжный склон на северо-востоке.</p>
</div>
